.navLink {
  padding: 12px 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #a8aebf;
}

.navLink a {
  color: inherit;
  transition: color .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;

}

.navLink a:hover {
  color: #fff;
}

.navLink .active {
  color: var(--active-link-clr); 
}