.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #8e95a9;
}

.paragraph.normal {
  font-size: 16px;
}
.paragraph.small {
  font-size: 12px;
}
.paragraph.large {
  font-size: 22px;
}
