.headerSection {
  padding: 16px 10px;
  max-width: 1220px;
  width: 100%;
  margin-inline: auto;
  min-height: 80px;

  backdrop-filter: blur(40px);
  background: rgba(18, 24, 41, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;
}