.cardSelectedMark {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #7b6ef6;

  &.selected {
    color: #37d8a7;
  }
}

.selectButton {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: contents;
}