.bodySection {
  margin-top: 80px;

  padding: 16px 10px;
  max-width: 1220px;
  width: 100%;
  margin-inline: auto;
  min-height: 80px;  
}

.bodySection__content {
  --card-max-width: 282px;
  --card-gap: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-max-width), 1fr));
  gap: var(--card-gap);  
}