.moviePage {
  color: #8e95a9;
  /* padding: 20px; */
  /* margin-top: 80px; */

  padding: 16px 10px;
  max-width: 1220px;
  width: 100%;
  margin-inline: auto;
  min-height: 80px;

  /* p {
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
  } */
}

.rowBlock {
  border-radius: 24px;
  padding: 40px;

  backdrop-filter: blur(24px);
  background: rgba(32, 40, 62, 0.8);
}

.rowSmallTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #beb7fb;
}

.infoBlock {
  margin-top: 80px;
  margin-bottom: 35px;

  --card-max-width: 480px;
  --card-gap: 80px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-max-width), 1fr));
  gap: var(--card-gap);
}

.reviewSmallTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #767e94;
  margin-left: 8px;
  margin-bottom: 14px;
}

.reviewTitleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.reviewTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #c3c8d4;
  margin-bottom: 15px;
}

.reviewDate {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #767e94;
}

.card {
  --card-img-hw: calc(720 / 480);

  border-radius: 24px;
  /* padding: 8px 8px 16px; */
  overflow: hidden;
}

.cardImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: calc(var(--card-img-hw) * 100%);
  border-radius: 4%;
  overflow: hidden;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBlock {
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #8e95a9;
    margin-bottom: 24px;
  }
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ratingStart {
  border-radius: 8px;
  padding: 4px 8px;

  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.65);

  display: flex;
  align-items: center;
  gap: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffad49;
}

.infoSubBlock {
  margin-top: 24px;
}

.infoTitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #767e94;
}

.infoText {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #c3c8d4;
}