.card {
  --card-img-hw: calc(400 / 266);

  border-radius: 12px;
  padding: 8px 8px 16px;
  overflow: hidden;
  /* width: 282px; */
  /* height: 520px; */

  backdrop-filter: blur(80px);
  background: rgba(32, 40, 62, 0.8);
}

.cardImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: calc(var(--card-img-hw) * 100%);
  border-radius: 4%;
  overflow: hidden;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardRating {
  position: absolute;
  top: 8px;
  left: 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  border-radius: 8px;
  padding: 4px 8px;

  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.65);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffad49;
}

.cardInfo {
  margin-top: 16px;
  margin-bottom: 8px;
}

.cardName {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ebeef5;
  margin-block: 8px 16px;
}

.cardSelectedMark {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #7b6ef6;

  &.selected {
    color: #37d8a7;
  }
}

.selectButton {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: contents;
}